#cmd_line {
    padding: 1em;
    border-radius: 5px;
    width: 100%;
    background-color: black;
    font-family: monospace;
    color: white;
}

.timing_option {
    width: max-content;
    float: left;
    margin: 5px;
}

.timing_option input {
    width: 100%;
}