{% extends "template.html" %}

{% block stylesheets %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/reports.css') }}">
{% endblock %}

{% block content %}
{% endblock %}

{% block scripts %}
{{ super() }}

<script>
  $('#filter-box').click(function() {
    if($('#filter-box .allhosts').is(':checked')) {
        $('.col-10 .allhosts').prop('checked', true)
    } else if($('#filter-box .livehosts').is(':checked')) {
        $('.col-10 .livehosts').prop('checked', true)
    }

    if($('#filter-box .alloses').is(':checked')) {
        $('.col-10 .alloses').prop('checked', true)
    } else if($('#filter-box .windowshosts').is(':checked')) {
        $('.col-10 .windowshosts').prop('checked', true)
    } else if($('#filter-box .linuxhosts').is(':checked')) {
        $('.col-10 .linuxhosts').prop('checked', true)
    }
  });

</script>
{% endblock %}